/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baloo Paaji 2", sans-serif !important;
    overflow-x: hidden;
    background: rgb(2, 0, 36);
    background: linear-gradient(32deg, rgba(2, 0, 36, 1) 24%, rgba(2, 0, 36, 1) 40%, rgba(2, 0, 36, 1) 52%, rgba(2, 0, 36, 1) 86%, rgba(56, 189, 248, 1) 100%);
}

/* Navbar Styles */
nav {
    z-index: 9999;
}

.navbar {
    background-color: #0f172a;
}

/* Link Styles */
a {
    font-family: "Baloo Paaji 2", sans-serif !important;
    transition: color 0.3s ease;
}

/* Card Styles */
.card {
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: rgba(56, 189, 248, 0.25); /* Efecto hover para las tarjetas */
}

/* Hover Effects */
.hover-custom:hover {
    color: #38bdf8;
}

/* SVG Styles */
.svg-hover {
    transition: all 0.3s ease;
}

.svg-hover:hover path {
    fill: #38bdf8;
    transition: all 0.3s ease;
}

/* Background Styles */
.bg-custom {
    background-image: url('https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.bg-custom h4 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Animations */
.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadeIn.active {
    opacity: 1;
    transform: translateY(0);
}

/* Image Scale Effect */
.scaleUp {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.scaleUp:hover {
    transform: scale(1.1);
}

/* Rounded Styles */
.rounded-full {
    box-shadow: 0px 0px 48px 38px rgba(255, 255, 255, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
    .svg-hover {
        width: 240px;
    }
}
