/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baloo Paaji 2", sans-serif !important;
}

/* Link Styles */
a {
    font-family: "Baloo Paaji 2", sans-serif !important; 
    transition: color 0.3s ease; 
}

.hover-custom:hover {
    color: #38bdf8; 
}

/* Navbar Styles */
nav {
    z-index: 9999;
}

/* SVG Styles */
.svg-hover {
    transition: all 0.3s ease;
}

.svg-hover:hover path {
    fill: #38bdf8; 
    transition: all 0.3s ease; 
}

/* Media Queries */
@media (max-width: 768px) {
    .svg-hover {
        width: 240px; 
    }
}
